  {% include about-the-site.html %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>

{% comment %}<!-- https://github.com/highlightjs/cdn-release/tree/master/build/languages -->{% endcomment %}
{% for lang in page.hljs_languages %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/languages/{{lang}}.min.js"></script>
{% endfor %}

<script src="https://cdn.rawgit.com/rstacruz/unorphan/v1.0.1/index.js"></script>
<script>hljs.initHighlightingOnLoad()</script>
<script>unorphan('h1, h2, h3, p, li, .unorphan')</script>

<div class="copyrights" style="text-align: center; padding: 20px 0; border-top: 1px solid #ccc;">
    <div class="container">
        <div class="row" id="copyright-note">
            <span>
                © 2020 嘻嘻IT <span class="footer-info-right">
                    .Copyright ©2018-2020 All Rights Reserved | <a href="/sitemap" target="_blank" data-wpel-link="internal">网站地图</a> | <a href="http://www.beian.miit.gov.cn/" target="_blank" data-wpel-link="external" rel="nofollow external noopener noreferrer" class="seoquake-nofollow">鄂ICP备15014196号-2</a> .</span>
            </span></div>
    </div>
</div>

<script>
var _hmt = _hmt || [];
(function() {
      var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?c1c3fab876fdaf17f671ce30607a77ca";
          var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);

})();
</script>

</body>
</html>
